### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

/nbproject/project.properties
/nbproject/project.xml

/node_modules/
/pages/
index.html